{% extends 'MainApp/Base.html' %}

<html>
<head>
<meta charset="utf-8">
	<title>{% block title %}
            {{title|title}}
           {% endblock %}
    </title>
</head>
	<body>

                    {% block context %}

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Delete Booking #{{object.id}}</h5>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="alert alert-warning" role="alert">
                                        Are you sure you want to delete <strong> Бронь с: {{ object.booking_time }} по {{ object.booked_time }}</strong> ?
                                    </div>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>


                    {% endblock %}





                     }

    </body>
</html>