{% extends 'MainApp/Base.html' %}
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}
    {{ title|title }}
  {% endblock %}
  </title>
</head>
<body>

        {% block context %}
		
                  <tr>Комната № :{{obj.id }}
                    <td><p>Название : {{obj.room_name}}</p></td>
                    <td><p>Кол-во мест : {{obj.seets_count}}</p></td>
                      <td><p>Наличие проектора : {{obj.projector}}</p></td>
                    <td><p>Наличие доски : {{obj.desk}}</p></td>

                  </tr>

                    <form action = "{% url 'updated_room_page' %}" method="post">
                        {% csrf_token %}
                        <p> Забронировать с : {{ form.booking_time }}</p>
                        <p> Забронировать до : {{ form.booked_time }}</p>
                        <p> Комната :{{ form.booking }}</p>
                        <p> День :{{ form.day }}</p>

                        <button type="submit" class="btn btn-success">Забронировать</button>

                    </form>
        {% endblock %}


</body>
</html>