{% extends 'MainApp/Base.html' %}
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}
    {{ title|title }}
  {% endblock %}
  </title>
</head>
<body>

        {% block context %}
		
                  <tr>Комната № :{{obj.id }}
                    <td><p>Название : {{obj.room_name}}</p></td>
                    <td><p>Кол-во мест : {{obj.seets_count}}</p></td>
                      <td><p>Наличие проектора : {{obj.projector}}</p></td>
                    <td><p>Наличие доски : {{obj.desk}}</p></td>

                  </tr>

                    <form action = "{% url 'updated_room_page' %}" method="post" style="width: 300px;">
                        {% csrf_token %}
                        <p> Забронировать с : {{ form.booking_time }}</p>
                        <p> Забронировать до : {{ form.booked_time }}</p>
                        <p> Комната :{{ form.booking }}</p>
                        <p> День :{{ form.day }}</p>

                        <button type="submit" class="btn btn-success">Забронировать</button>

                    </form>

                        <div class = "timeline" data-mode="horizontal" style="margin-top:10px; margin-bottom: 10px;" >
                            <div class="timeline__wrap">
                                <div class="timeline__items">
                                    {% for item in result %}
                                    {% if obj.id == item.booking_id %}
                                    <div class="timeline__item">
                                        <div class="timeline__content">
                                                <h2>{{ item.booking }}</h2>
                                                <p>День: {{ item.day }}</p>
                                                <p>C: {{ item.booking_time }}</p>
                                                <p>До: {{ item.booked_time }}</p>
                                                <p> {{ item.status }}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

<script>
    var tl = document.querySelectorAll('.timeline');
        timeline(tl, {
        mode:'horizontal',
        verticalStartPosition: 'left',
        visibleItems: 4,
        horizontalStartPosition:'top',
    })
</script>
        {% endblock %}

</body>
</html>