{% extends 'MainApp/Base.html' %}
{% load static %}


<html>
<head>
<meta charset="utf-8">
	<title>{% block title %}
            {{title|title}}
           {% endblock %}
    </title>

</head>
<body>

            {% block context %}

                <div class="wrap" >
                        {% for val in room %}
                        <div class="description">
                          <ul><h3>Комната № :{{ val.id }}</h3>
                            <div class = "pic"><img src= "{{ MEDIA_ROOT }}{{ val.img_path.url }}" alt="My image" /></div>

                            <li><h4>Название : {{val.room_name}}</h4></li>
                            <li><p>Кол-во мест : {{val.seets_count}}</p></li>
                            <li><p>Наличие проектора : {{val.projector}}</p></li>
                            <li><p>Наличие доски : {{val.desk}}</p></li>
                            <li><p>Наличие кондиционера : {{val.condition}}</p></li>
                            <li><button type="button" class="btn btn-dark"><a href ="{% url 'booking' pk=val.id %}" >Забронировать</a></button></li>
                            <br>
                          </ul>
                        </div>
                        {% endfor %}
                </div>

            {% endblock %}
</body>
</html>