{% extends 'MainApp/Base.html' %}
{% load static %}

<html>
<head>
<meta charset="utf-8">
	<title>{% block title %}
            {{title|title}}
           {% endblock %}
    </title>


</head>
<body>

        {% block context %}

            <div class="wrap" >

                  {% for val in room %}
                    <div class="description">

                      Комната № :{{val.id }}
                        <p>Название : {{val.room_name}}</p>
                        <p>Кол-во мест : {{val.seets_count}}</p>
                            <ul>
                        {% if val.projector == True %}
                                     <li><p>Наличие проектора : <input type="checkbox" checked="checked" disabled /></p></li>
                               {% else %}
                                     <li><p>Наличие проектора : <input type="checkbox"  disabled /></p></li>
                               {% endif %}

                               {% if val.condition == True %}
                                     <li><p>Наличие кондиционера : <input type="checkbox" checked="checked" disabled/></p></li>
                               {% else %}
                                     <li><p>Наличие кондиционера : <input type="checkbox"  disabled/></p></li>
                               {% endif %}

                               {% if val.desk == True %}
                                     <li><p>Наличие доски : <input type="checkbox" checked="checked" disabled/></p></li>
                               {% else %}
                                    <li><p>Наличие доски : <input type="checkbox"  disabled/></p></li>
                               {% endif %}
                            </ul>
                        <table id = "table_object"  cellspacing="5" cellpadding="10" border="1" width="100%" align="center">
                            <tr><td><b>Author</b></td>
                                <td><b>Дата</b></td>
                                <td><b>Время с:</b></td>
                                <td><b>Время до:</b></td>
                                <td><b>Статус:</b></td>
                                <td><b>Отменa</b></td>
                                </tr>



                                {% include "MainApp/includes/object.html" %}





                        </table>

                    </div>
                   {% endfor %}

            </div>
        {% endblock %}

</body>
</html>