{% extends 'MainApp/Base.html' %}
<!doctype html>

<html>
<head>
<meta charset="utf-8">
	<title>{% block title %}
            {{title|title}}
           {% endblock %}
    </title>
</head>
	<body>
		
                    {% block context %}
                    
                      {% for val in room %}
                          <tr>Комната № :{{val.id }}
                            <td><p>Название : {{val.room_name}}</p></td>
                            <td><p>Кол-во мест : {{val.seets_count}}</p></td>
                            <td><p>Наличие проектора : {{val.projector}}</p></td>
                            <td><p>Наличие доски : {{val.desk}}</p></td>
                            {% for t in obj %} 
                            {% if val.id == t.booking_id %}
                              <td>Забронировано с: {{ t.booking_time }} </td>
                              <td>Забронировано до: {{ t.booked_time }} </td>
                              <td><p>Cтатус : {{t.status}}</p></td>
                            {% endif %}
                            {% endfor %}
                            
                          </tr>
                    {% endfor %}
                    

                    {% endblock %}    
                    


                
            
                     }
        
    </body>
</html>